
.header-wrapper {
  background-color: white;
  width: 100%;
  z-index: 2;
}

.header-wrapper .nav-wrapper {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1264px;
  margin: auto;
}

header nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

header nav .nav-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  order: 1;
}

header nav .nav-brand .default-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
  object-fit: contain;
}

header nav .nav-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  flex: 1;
}

header nav .nav-sections ul {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
  color: var(--text-color);
}

header nav .nav-sections ul li {
  position: relative;
}

header nav .nav-sections ul li a {
  color: var(--text-color);
  text-decoration: none;
}

header nav .nav-sections ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
}

header nav .nav-sections ul li:hover ul {
  display: block;
}

header nav .nav-sections ul li ul li a {
  padding: 5px 10px;
  color: var(--text-color);
  text-decoration: none;
}

header nav .nav-sections ul li ul li a:hover {
  background-color: var(--light-color);
}

header nav .nav-tools {
  display: flex;
  align-items: center;
  gap: 20px;
  order: 3;
}

header nav .nav-tools ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

header nav .nav-tools ul li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

header nav .nav-tools .search-icon {
  margin-left: 20px;
}

@media (max-width: 768px) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav .nav-sections ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav .nav-tools ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav .nav-tools .search-icon {
    margin-left: 0;
  }
}

.header-wrapper .nav-wrapper {
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
}

/* Specific adjustments */
header nav .nav-brand .default-content-wrapper p:first-child {
  order: 1;
}

header nav .nav-brand .default-content-wrapper p:last-child {
  order: 2;
}
