.recent-events .event-item {
    border-bottom: 1px solid #f4f3ee;
}

/* stylelint-disable-next-line no-descending-specificity */
.recent-events details + details {
}

.recent-events details p {
    margin-bottom: 0.8em;
}

.recent-events details summary {
    position: relative;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
}

.event-item-label h3 {
    color: var(--color-text-inverted, #1c1c1c);
    font: 1.2rem / 1.75rem Frutiger, Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 0.8em;
}

.event-item-body p {
    font: 1rem / 1.625rem 'Frutiger', Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    padding-top: 0.0225em;
    padding-bottom: 0;
    margin-bottom: -0.01em;
}

.event-item-body .button-container a {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 550;
    padding-left: 0;
}

.event-item-body .button-container a::after {
    content: '';
    display: inline-block;
    width: 1rem; /* Set the desired width */
    height: 1rem; /* Set the desired height */
    background: url('../../icons/arrow.svg') no-repeat center center;
    background-size: contain;
    margin-left: 1rem; /* Adjust the spacing between the text and the icon */
    transform: translateY(15%) rotate(-90deg);
}

.event-item-body .button-container a.button:hover, a.button:focus, button:hover, button:focus {
    background-color: var(--background-color);
    color: #1c1c1c;
    cursor: pointer;
}

.recent-events details summary::-webkit-details-marker {
    display: none;
}

.recent-events details summary::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 18px;
    width: 16px; /* Set the desired width */
    height: 16px; /* Set the desired height */
    background: url('../../icons/arrow.svg') no-repeat center center;
    background-size: contain;
    transition: transform 0.2s;
}

.recent-events details[open] summary::after {
    transform: translateY(-50%) rotate(-180deg);
}

.event-item-img {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between images */
    padding-bottom: 1rem;
}

.picture-wrapper {
    flex: 1; /* Ensures both images take up equal space */
    margin: 0 10px; /* Adds some space between the images */
}

.picture-wrapper img {
    max-width: 100%; /* Ensures images are responsive */
    height: auto;
}

.event-item-img .right-picture-wrapper {
    padding-top: 3.75em;
}

@media (width >= 750px) {
    .event-item {
        display: flex;
        flex-direction: column;
    }

    .event-item-label {
        order: -1;
    }

    .event-item-content {
        display: flex;
        flex-direction: row;
    }

    .event-item-body {
        flex: 1;
        margin: 1em 5% 1em 0;
    }

    .event-item-img {
        flex: 1;
    }
}
