.event details {
    border: 1px solid #dadada;
}

.event .event-item {
    display: flex;
    flex-direction: column;
}

.event-item-label {
    order: 1;
}

.event-item-body {
    order: 2;
}

.event-item-img picture {
    flex: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.event details + details {
    margin-top: 24px;
}

.event details p {
    margin-bottom: 0.8em;
}

.event details summary {
    position: relative;
    padding: 0 16px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
}

.event-item-label h3 {
    color: var(--color-text-inverted, #1c1c1c);
    font: 1.25rem / 1.75rem Frutiger, Arial, Helvetica, sans-serif;
    text-align: left;
}

.event-item-body p {
    font: 1rem / 1.625rem 'Frutiger', Arial, Helvetica, sans-serif;
    color: #1c1c1c;
    padding-top: 0.0225em;
    padding-bottom: 0;
    margin-bottom: -0.01em;
}

.event details[open] summary {
    background-color: var(--light-color);
}

.event details summary:focus,
.event details summary:hover {
    background-color: var(--light-color);
}

.event details summary::-webkit-details-marker {
    display: none;
}

.event-item-label summary::after {
    content: '>';
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.2s;
}

.event-item details[open] summary::after {
    transform: translateY(-50%) rotate(-90deg);
}

.event details .event-item-body {
    padding: 0 16px;
}

.event details[open] .event-item-body {
    border-top: 1px solid #dadada;
    background-color: var(--background-color);
}

.event-item-img {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between images */
}

.picture-wrapper {
    flex: 1; /* Ensures both images take up equal space */
    margin: 0 10px; /* Adds some space between the images */
}

.picture-wrapper img {
    max-width: 100%; /* Ensures images are responsive */
    height: auto;
}

.event-item-img .right-picture-wrapper {
    padding-top: 3.75em;
}

