
@font-face {
  font-family: ubs-icons;
  src: url('../fonts/ubs-icons-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Frutiger;
  src: url('../fonts/frutiger-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: FrutigerChina;
  src: url('../fonts/frutigerchina-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: Frutiger;
  src: url('../fonts/frutiger-bold-normal.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
