.footer-centered-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
}

.footer-centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-centered-text > div {
    display: flex;
    align-items: center;
}

.footer-centered-text p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #5a5d5c;
}

.footer-centered-text picture {
    max-width: 100%;
    height: auto;
    margin-left: 45px;
}
